<!-- Modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            
                <h4>Suppression du domaine</h4>
            </div>
            <div class="modal-body">
                <p>Voulez vous vraiment supprimer le domaine ?</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a class="btn btn-supp pull-left background-violet">Supprimer</a>
            </div>
        </div>
    </div>
</div>