{% extends "base.html.twig" %}

{% block title %} {{ parent() }} À propos {% endblock %}
       
{% block contenu %}

<div class="page-title">
    <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1>À propos</h1>
                </div>
                <div class="x_content">
                    <div class="col-md-10 col-md-offset-1">
                      <h1 class="section-title left" style="font-weight: bold;">Qui sommes-nous ?</h1>
                      <p>
                        Simpléduc est un site de gestion de développement de projets professionnels pour des clients, prestataires externes de tous les domaines de travail professionnel.
                        Notre large domaine d'expertise nous permet d'assurer la plus grande possibilité de demandes de création de produit pour un prestataire et ainsi satisfaire au mieux les différents besoins de chacun.
                        En effet, grâce au grand nombre d'experts travaillants sur cette plateforme en ligne, nous pouvons élargir nos domaines de compétences et de savoir faire avec l'entre aide et la collaboration de nos différents développeurs, managers et autre personnes professionnelles.
                      </p>
                    </div>
                    
                    <div style="margin-top: 20%;">
                      <div class="row">
                        <div class="col-md-3 col-md-offset-2 section-label">
                          <i class="glyphicon glyphicon-tower"></i>
                        </div>
                        <div class="col-md-6 section-desc">
                          <h1 class="section-title left">Nos valeurs</h1>
                          <br />
                          <p>
                            Les grandes entreprises mènent leurs activités en s'appuyant sur des valeurs sûres, pour avoir un tel appuie, elles nécessitent une qualité de services et de support la plus élevée et la plus professionnelle possible.
                            Nous nous engageons à fournir à nos clients la qualité de service la plus élevée possible, intégrant les technologies de dernier cri et repondant entièrement aux attentes du client.
                          </p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 col-md-offset-1 section-desc">
                          <h1 class="section-title left">Innovation</h1>
                          <p>
                            Pour Simpléduc, l'innovation est une notion clé de l'état d'esprit de l'ensemble des projets et des personnes travaillants pour ces projets.
                            Nous nous efforcons d'être à la pointe de l'innvoation pour fournir à nos clients des outils, technologies et supports performants et de dernière générations.
                          </p>
                        </div>
                        <div class="col-md-3 col-md-offset-2 section-label">
                          <i class="fa fa-trophy"></i>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-3 col-md-offset-2 section-label">
                          <i class="fa fa-tachometer"></i>
                        </div>
                        <div class="col-md-6 section-desc">
                          <h1 class="section-title left">Responsabilités et Suivi</h1>
                          <br />
                          <p>
                            Lorsque vous nous fait part de vos attentes pour l'élaboration d'un projet, nous sommes entièrement à votre écoute, respectons l'intégralité des vos attentes et de vos demandes et nous vous apportons également nos avis pour favoriser la modernité de votre produit.
                            Cependant, lorsque votre produit lui est livré, entièrement finalisé, nous continuons à garder contact avec vous pour nous assurer que vous êtes bien satisfait de notre travail mais également pour agir en cas de problème qui pourrait arriver à l'avenir. 
                            Mais également dans le cas où vous décideriez de l'améliorer, le changer  ou simplement le modifier, nous vous suivons et prenons soin de votre produit.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- page content -->

            <div class="clearfix"></div>

            <br/><br/>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_content">
                    <div class="row">
                      <div class="text-center">
                        <h1>Développeurs de l'application Web</h1>
                        <hr/>
                      </div>
                      <div class="col-md-12" style="margin-left: 4%;">
                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12 pricing_table">
                          <div class="pricing">
                            <div class="title">
                              <h1>François CAHIER</h1>
                              <h2>Étudiant EPSI Arras</h2>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features">
                                <p>À développé sur le site</p>
                                  <ul class="list-unstyled text-left" style="margin-left: 10%;">
                                    <li><i class="fa fa-check text-success"></i> Utilisateurs</li>
                                    <li><i class="fa fa-check text-success"></i> Equipe</li>
                                    <li><i class="fa fa-check text-success"></i> Roles</li>
                                    <li><i class="fa fa-check text-success"></i> Participation</li>
                                    <li><i class="fa fa-check text-success"></i> Connexion</li>
                                    <li><i class="fa fa-check text-success"></i> Inscription</li>
                                    <li><i class="fa fa-check text-success"></i> Maintenance</li>
                                    <li><i class="fa fa-check text-success"></i> Déconnexion</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="index.php?page=utilisateurinfo&id=francois.cahier@epsi.fr" class="btn btn-simpleduc btn-block" role="button">Voir le profil</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->

                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12 pricing_table">
                          <div class="pricing">
                            <div class="title">
                              <h1>Nicolas CAZIN</h1>
                              <h2>Étudiant EPSI Arras</h2>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features">
                                <p>À développé sur le site</p>
                                  <ul class="list-unstyled text-left" style="margin-left: 10%;">
                                    <li><i class="fa fa-check text-success"></i> Développeurs</li>
                                    <li><i class="fa fa-check text-success"></i> Compétences</li>
                                    <li><i class="fa fa-check text-success"></i> Domaines</li>
                                    <li><i class="fa fa-check text-success"></i> Maitrise</li>
                                    <li><i class="fa fa-check text-success"></i> Template</li>
                                    <li><i class="fa fa-check text-success"></i> Projets</li>
                                    <li><i class="fa fa-check text-success"></i> Recherche</li>
                                    <li><i class="fa fa-check text-success"></i> Accueil</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="index.php?page=utilisateurinfo&id=nicolas.cazin@epsi.fr" class="btn btn-simpleduc btn-block" role="button">Voir le profil</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->

                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12 pricing_table">
                          <div class="pricing">
                            <div class="title">
                              <h1>Simon TURBIEZ</h1>
                              <h2>Étudiant EPSI Arras</h2>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features">
                                <p>À développé sur le site</p>
                                  <ul class="list-unstyled text-left" style="margin-left: 10%;">
                                    <li><i class="fa fa-check text-success"></i> Entreprises</li>
                                    <li><i class="fa fa-check text-success"></i> Tâches</li>
                                    <li><i class="fa fa-check text-success"></i> Contrat</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="index.php?page=utilisateurinfo&id=simon.turbiez@epsi.fr" class="btn btn-simpleduc btn-block" role="button">Voir le profil</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        <!-- /page content -->

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
